<h1 class="page-title mb-4">{{ title }}</h1>
{{ form_start(form, {method: 'post', attr: {class: 'needs-validation', novalidate: 'novalidate'}}) }}
<div class="mb-3">
    {{ form_row(form.num, {label: 'Numéro', attr: {class: 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_row(form.street, {label: 'Rue', attr: {class: 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_row(form.city, {label: 'Ville', attr: {class: 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_row(form.pc, {label: 'Code postal', attr: {class: 'form-control', minlength: 5, maxlength: 5}}) }}
</div>
<button type="submit" class="btn btn-primary">{{ submit_label }}</button>
{{ form_end(form) }}
