{% extends 'base.html.twig' %}

{% block title %}Gérer mes adresses{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1 class="page-title">Mes Adresses</h1>
    <ul class="list-group mt-4 mb-4">
        {% for address in addresses %}
            <li class="address list-group-item d-flex justify-content-between align-items-center">
                <div>
                    {{ address.num }} {{ address.street }}, {{ address.city }} ({{ address.pc }})
                </div>
                <div class="d-flex flex-row">
                    <a href="{{ path('app_address_update', {id: address.id}) }}" class="btn btn-sm btn-warning text-light d-flex me-2" title="Modifier">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                    <a href="{{ path('app_address_delete', {id: address.id}) }}" class="btn btn-sm btn-danger d-flex" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse ?')">
                        <span class="material-symbols-outlined">delete</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_address_create', {return_to: return_url}) }}" class="btn btn-primary">Ajouter une adresse</a>
    {% if return_url %}
        <a href="{{ return_url }}" class="btn btn-secondary m-2">Retour</a>
    {% endif %}
{% endblock %}
