{% extends 'base.html.twig' %}

{% block title %}Echantillon #{{ sample.id }}{% endblock %}

{% block body %}
    <h1>Echantillon #{{ sample.id }}</h1>
    {{ form_start(form, {method: 'POST'}) }}
    {{ form_row(form.medication, {label: 'Médicament'}) }}
    {{ form_row(form.expiration, {label: 'Date d\'expiration'}) }}
    {{ form_row(form.order, {label: 'Numéro de commande'}) }}
    <div class="w-100 p-3">
        <input type="submit" class="btn btn-primary" value="Mettre à jour"/>
    </div>
    {{ form_end(form) }}

{% endblock %}
